html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
form {
  overflow: hidden;
}

input {
  width: 50%;

  padding: 2px;
  margin: 2px;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: darkcyan;
  font-size: 50px;
}

a:hover {
  cursor: pointer;
}

.center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25vh;
}

.footer {
  background-color: rgba(168, 135, 132, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px;
}

.navbar {
  background-color: rgba(168, 135, 132, 0.9);
}

.footer > .container {
  margin-left: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
}
